<div class="dashboard-container">
  <!-- Header -->
  <!-- Main Content -->
  <main class="main-content">
    <div class="left-section">
      <div class="welcome-section">
        <div class="icon"><mat-icon>user</mat-icon></div>
        <h1>VOUS REVOILA</h1>
        <p>
          Accedez Aux Historiques De Transaction
          <mat-icon>attach_money</mat-icon>
        </p>
      </div>
      <div class="couple-image">
        <img src="/images/dash.png" alt="Happy couple" />
      </div>
    </div>

    <div class="right-section">
      <div class="cards-grid">
        @for (account of accounts; track account) {
        <div class="account-card blue-pink">
          <div class="card-header">
            <mat-icon>account_circle</mat-icon>
            <h3>{{ account.name }}</h3>
          </div>
          <div class="card-actions">
            <button class="action-btn">
              <mat-icon>visibility</mat-icon>
              Voir Transactions
            </button>
            <button class="action-btn">
              <mat-icon>visibility</mat-icon>
              Voir Virement
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </main>
</div>
